@page
@model IndexModel
@{
    ViewData["Title"] = "Agendamiento";
}

<div class="text-center">
    <h1 class="display-3">Agendamiento</h1>

</div>
<p>

</p>

<body>

    <table>
        <tr>
            <td>Nombre Paciente: </td>
            <td><input type="text" name="Nombre"></td>
        </tr>
        <tr>
            <td>Numero de Documento: </td>
            <td><input type="text" name="Documento"></td>
        </tr>
        <tr>
            <td>Dirección: </td>
            <td><input type="text" name="direccion"></td>
        </tr>
        <tr>
            <td>Telefonos: </td>
            <td><input type="text" name="telefonos"></td>
        </tr>
        <tr>
            <td>Doctor: </td>
            <td><input type="text" name="doctor"> </td>
        </tr>
        <tr>
            <td>Especialidad: </td>
            <td><input type="text" name="especialidad"> </td>
        </tr>
        <tr>
            <td>EPS: </td>
            <td><input type="text" name="eps"> </Td>
        </tr>
        <tr>
            <td>Sede:</td>
            <td><input type="text" name="sede"></td>
        </tr>
        <tr>
            <td>Fecha: </td>
            <td><input type="date" name="fecha"/> </td>
        </tr>
        <tr>
            <td>Hora: </td>
            <td><input type="time" name="hora" /> </td>
        </tr>

        <tr>
            <td><button>Ingresar</button></td>
        </tr>

    </table>

</body>
