@page
@model PrivacyModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3">Laboratorio</h1>

</div>
<p>
    
</p>
<body>

    <table>
        <tr>
            <td>Código Laboratorio: </td>
            <td><input type="text" name="docto"></td>
        </tr>
        <tr>
            <td>Nombre Laboratorio: </td>
            <td><input type="text" name="nombre"></td>
        </tr>
        <tr>
            <td>Dirección: </td>
            <td><input type="text" name="direccion"></td>
        </tr>
        <tr>
            <td>Telefonos: </td>
            <td><input type="text" name="telefonos"></td>
        </tr>
        <tr>
            <td><button>Ingresar</button></td>
        </tr>
    </table>

</body>
